html {
    background-color: white;
    height: 100%;
    font-family: sans-serif;
}
body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    min-width: 320px;
    max-width: 800px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
header {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*align-content: space-around;*/
}
main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
}
nav {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
nav > a {
    text-decoration: underline;
    font-size: 24px;
    margin-left: 20px;
    margin-right: 20px;
    transition: all .2s ease-in-out;
}
nav > a:hover {
    color: Chocolate;
}
.formRegister, .formLogin, form {
    align-self: center;
    display: flex;
    flex-direction: column;
}
input:focus, textarea:focus {
    border: 2px solid teal;
    outline: none;
}
.taskControls {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    margin: 5px 20px 20px 20px;
}
.taskControls > * {
    width: 100%;
}
.taskform {
    align-self: stretch;
    padding: 20px;
}
form > input, form > textarea {
    margin: 5px;
    padding: 10px;
    border: 1px solid teal;
    border-radius: 5px;
}
.task {
    border: 1px solid black;
    border-radius: 5px;
    margin: 20px 20px 5px 20px;
    padding: 10px 40px 10px 40px;
}
.code {
    text-align: left;
}
.preview {
    text-align: left;
    margin: 20px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    transition: all .2s ease-in-out;
    border-radius: 10px;
}
.preview:hover {
    margin: 22px;
    box-shadow: 0 0 50px rgba(210,180,140,0.7);
}
.comment {
    border: 1px dashed teal;
    margin: 20px;
    padding: 10px;
}
a {
    color: #000;
    text-decoration:none;
}
h2 {
    color: Teal;
}
* {
    word-wrap: break-word;
}